* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000613;
}

.hero {
    background-image: url(images/coolshot.jpg);
    height: 700px;
    background-size: cover;
    background-position: 0 90%;
    border: 1px #000103 solid;
}

.hero-cont {
    margin-top: 90px;
    width: 100%;
    display: flex;
    flex-direction: row;    
}

.hero-img {
    height: 500px;
    width: 50%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.hero-img img {
    border-radius: 100%;
    object-fit:fill;
    border: 5px black solid;
    margin: 12.5%;
    margin-top: 20%;
    height: 50%;
    width: 50%;
}

.hero-txt {
    height: 500px;
    width: 50%;
}

.hero-txt2 {
    background-color: #0001034f;
    color: aliceblue;
    margin: 10%;
    padding: 50px;
    border-radius: 30px;
}

.hero-txt2 h1,h3 {
    margin-block: 40px;
}

@media only screen and (max-width:500px) {
    .hero-img {
        display: none;
    }

    .hero-txt {
        width: 100%;
    }


}

.carousel{
    height: 500px;
}

.carousel-inner {
    margin-top: 100px;
    object-fit:fill;
}

.item img{
    max-height: 500px;
    max-width: 100px;
    height: 100%;
    width: 100%;
}

.item .carousel-caption{
    background-color: #0001034f;
    border-radius: 30px;
}

.item h3{
    color:aliceblue;
    font-weight: 900;
}

.item p {
    color:aliceblue;
    font-weight: 100;
}

.intro {
    text-align: center;
    color:aliceblue;
}

.pII {
    display: flex;
    flex-direction: column;
    color:aliceblue;
}

.p2-card {
    display: flex;
    flex-direction: row;
}

.p2-card:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
}

.p2-img {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 500px;
    width: 50%;
}

.p2-img img {
    padding: 2.5%;
    height: 90%;
    width: 90%;
}

.p2-txt{
    justify-content: center;
    align-self: center;
    text-align: center;
    height: 500px;
    width: 50%;
}

.p2-txt img {
    padding: 2.5%;
    height: 90%;
    width: 90%;
}

.p2-txt-cont {
    margin: 60px;
    padding: 100px;
    background-color: rgba(240, 248, 255, 0.274);
}

.p2-txt h2 {
    margin: 30px;
}

.pick {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.picker:nth-child(1){
    background-image: url(images/jerrinor1.png);
}

.picker:nth-child(2){
    background-image: url(images/ecoms1.jpeg);
}

.picker {
    text-decoration: none;
    background-position: center;
    margin: 30px;
    height: 400px;
    width: 50%;
    border-radius: 30px;
}

.picking h1 {
    display: none;
    padding: 30%;
    background-color: #0001034f;
}

.picker:hover h2{
    display: none;
}

.picker:hover h1{
    display: block;
}

.picking {
    max-width: 100%;
    max-height: 100%;
    text-decoration: none;
    color: aliceblue;
}

.picking h2 {
    padding: 20px;
    background-color: #0001034f;
    margin-top: 150px;
}

.return {
    padding: 20px;
    margin: 20px;
    text-decoration: none;
    color: aliceblue;
}
